*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

#success-message{
    display: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

#error-message{
    display: none;
    background-color: #f44336;
    color: white;
    font-weight: bold;
}